/* Estilos gerais da pagina*/
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: #e7dfdd;
    font-size: 20px;
}

p.date {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 1px;
}

/* Barra de navegação */
header,
.navbar {
    background-color: #0e0b16;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 90px;
}

.navbar-brand {
    padding: 0;
    color: #f9cf00;
}

.navbar-brand:hover {
    color: #ffffff;
}

#navbar-links a {
    font-size: 18px;
    color: #e7dfdd;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0rem .8rem;
}

.nav-item.active {
    border-bottom: 3px solid #e7dfdd;
}

/* Apresetação */

#info-container{
    background-color: #94618e;
}

#blog-logo{
    width: 500px;
}

#body-post{
    background-color: #94618e;
}


/* card */

#card-posts{
background-color: #49294a;
}

#card-post{
    background-color:#7f3ca0;
}

.card-body {
    text-align: center;
    color: #e7dfdd;
}

.main-btn-info {
    background-color: #062f4f;
    color: #e7dfdd;
    text-align: center;
    width: 100px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn-info:hover {
    text-decoration: none;
    color: #e7dfdd;
    background-color: transparent;
    border-color: #062f4f;
}

.main-title {
    color: #e7dfdd;
    margin: 0 0 65px 0;
    font-size: 50px;
    text-align: center;
}

.main-title::after {
    content: "";
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: #e7dfdd;
    text-transform: uppercase;
    font-weight: bold;
}

/* Rodapé */

#rodape {
    /*background-color: #6e3667;*/
    background-color: #18121e;
}

h6{
    color: #e7dfdd;
}

#rodape .container {
    padding: 10px 0;
    text-align: center;
}

#rodape .container p {
    margin-bottom: 0;
}

#rodape .container a {
    font-weight: bold;
    color: #f9cf00;
}

#rodape .container a:hover {
    text-decoration: none;
    color: #3EC1D5;
}

@media(max-width: 768px) {

    /* gerais */

    .container {
        padding: 20px 0;
    }

    /* about */
    #about-area img {
        margin-top: 100px;
    }

    /* data */
    .circle-box div {
        padding: 0 10px;
    }

    #data-area p {
        font-size: 16px;
    }

    /* Rede socias */
    .card-title {
        font-size: 14px;
    }

    .card-text {
        font-size: 12px;
    }

}

@media(max-width: 425px) {
    /* about */
    .main-title {
        font-size: 30px;
    }

    #about-area img {
        margin-top: 0;
        margin-bottom: 30px;
    }

    /* data */
    .circle-box {
        width: 50%;
    }

    #rede-socias .col-md-3 {
        width: 50%;
        margin-bottom: 30px;
    }

}